[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "flask>=3.1.2",
    "markdown>=3.10",
    "pytest>=9.0.2",
    "pyyaml>=6.0.2",
    "weasyprint>=67.0",
]
