<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Question {{ qid }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body><div class="modal question-modal">

    <h2>Question {{ count }}</h2>

    <p class="question-text">{{ question.text }}</p>

    <form method="post">

        {% if question_type == "boolean" %}
            <label>
                <input type="radio" name="answer" value="true" required>
                Yes
            </label>

            <label>
                <input type="radio" name="answer" value="false">
                No
            </label>

        {% elif question_type == "choice" %}
            {% for choice in question.choices %}
                <label>
                    <input type="radio" name="answer" value="{{ choice }}" required>
                    {{ choice[0].upper() + choice[1:].lower().replace('_', ' ') }}
                </label>
            {% endfor %}
        {% endif %}

        {% if question.id not in ["material_type", "material_type_2"]: %}
            <label>
                <input type="radio" name="answer" value="skip">
                Skip
            </label><
        {% endif %}

        <div class="button">
            <button type="submit">Next</button>
        </div>

    </form>
    <form action="{{ url_for('routes.questions_overview') }}" method="get">
        <div class="button">
            <button type="submit">Show current overview</button>
        </div>
    </form>

</div></body>
</html>