<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Question {{ qid }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>

<h2>Question {{ index }} of {{ total }}</h2>

<p>{{ question.text }}</p>

<form method="post">

    {% if question_type == "boolean" %}
        <label>
            <input type="radio" name="answer" value="true" required>
            Yes
        </label><br>

        <label>
            <input type="radio" name="answer" value="false">
            No
        </label><br>

    {% elif question_type == "choice" %}
        {% for choice in question.choices %}
            <label>
                <input type="radio" name="answer" value="{{ choice }}" required>
                {{ choice[0].upper() + choice[1:].lower().replace('_', ' ') }}
            </label><br>
        {% endfor %}
    {% endif %}

    <label>
        <input type="radio" name="answer" value="skip">
        Skip
    </label><br>

    <br>

    <button type="submit">
        Next
    </button>

</form><br>

<form action="{{ url_for('routes.questions_overview') }}" method="get">
    <button type="submit">Show current overview</button>
</form>

</body>
</html>